<html>
    <body bgcolor="DarkGrey">

        <center>

        <h1> IRIS FLOWER SEPAL LENGTH </h1><br>
        
        <form method="POST", action="{{url_for('Sepal_Width')}}">

            <b>
                
                SepalLengthCm : <input type="text", name='SepalLengthCm', placeholder="enter your SepalLengthCm "> <br><br>       
               
                PetalLengthCm :  <input type="text", name='PetalLengthCm', placeholder="enter PetalLengthCm"> <br><br>
                PetalWidthCm :  <input type="text", name='PetalWidthCm', placeholder="enter PetalWidthCm"> <br><br>
            <label for="Iris Flower">Choose a Iris Flower :</label>
            <select name="Iris Flower" id="Iris Flower">
                <option value=0>Iris-setosa</option>
                <option value=1>Iris-versicolor</option>
                <option value=2>Iris-virginica</option>                  
            </select><br><br>
            {{result1}}
            
            
			            <input type="submit" , value='predict' >
        </form>


        
    </center>

    </body>
</html>
